biopython==1.87
kaggle-benchmarks==0.3.0
kagglehub
matplotlib==3.10.8
numpy==2.4.3
pandas==3.0.1
pybtex==0.25.1
pydantic==2.12.5
pymongo==4.16.0
python-dotenv==1.2.2
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
statsmodels==0.14.6
